flask
flask-login
flask-sqlalchemy
authlib

langchain
langchain-community
langchain-pinecone
langchain-core
langchain-huggingface
langchain-classic
langchain-text-splitters

pinecone
sentence-transformers
#llama-cpp-python
langchain-groq

pymupdf
pypdf

psycopg2-binary
python-dotenv
sqlalchemy
requests

-e .