flask
flask-login
flask-sqlalchemy
authlib

langchain
langchain-community
langchain-pinecone
langchain-core
langchain-huggingface
langchain-classic
langchain-text-splitters

pinecone
sentence-transformers
torch==2.9.0+cpu
#llama-cpp-python
langchain-groq
gunicorn

pymupdf
pypdf

psycopg2-binary
python-dotenv
sqlalchemy
requests
